<h1><%= @event.name %></h1>

<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Created by:</strong> <%= @event.creator.email %></p>

<% if user_signed_in? && current_user == @event.creator %>
  <p>
    <%= button_to "Edit Event", edit_event_path(@event), method: :get, style: "border-radius: 10px; border: 1px solid lightgray;" %>
  <br>
    <%= button_to "Delete Event", @event, method: :delete, data: { confirm: "Are you sure?" }, style: "border-radius: 10px; border: 1px solid lightgray;" %>
  </p>
<% end %>

<hr>

<h2>Attendees (<%= @event.attendees.count %>)</h2>
<% if @event.attendees.any? %>
  <ul>
    <% @event.attendees.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one is attending yet.</p>
<% end %>

<hr>

<% if user_signed_in? %>
  <% if @event.attendees.include?(current_user) %>
    <%= button_to "Cancel Attendance",
          event_attendance_path(@event, @event.attendances.find_by(attendee: current_user)),
          method: :delete %>
  <% else %>
    <%= button_to "RSVP to Attend",
          event_attendances_path(@event),
          method: :post, style: "border-radius: 10px; border: 1px solid lightgray;" %>
  <% end %>
<% else %>
  <%= link_to "Sign in to RSVP", new_user_session_path %>
<% end %>
<br>
<%= button_to "Back to Events", events_path, method: :get, style: "border-radius: 10px; border: 1px solid lightgray;" %>
